<h1>
Ввод данных
</h1>
<h2 >
<%= flash[:error] %>
</h2>
<%= form_with url: "/task/show", class: "center", 
id: "palindrom_form", 
local: false,
method: :post do |form| %>
<%= form.label :number, "Введите последовательность", class: "center" %>
<%= form.text_field :number, class: "text-field"%>
<%= form.submit "Выолнить", class:"button" %>
<% end %>
<table border="2px" id = "resTable">
</table>
