<!DOCTYPE html>
<html>
  <head>
    <title>лЏла 9</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        background-color: #FFFACD
      }
         TABLE {
    color: black; 
    font-size: 25px;
    text-align: center;
    font-weight:500;
    margin: auto;
    background: black;
   }
   TD {
    color: black; 
    background: #ADD8E6
   }
     p, input, label{
    font-size: 20px;
    text-align: center;
   }
   h1{
    text-align: center;
   }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
